:root {
    --color-orange: #cd6326;
    --color-dark: #333333;
    --color-gray: #666666;
    --color-white: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #02160b;
    width: 100%;
}

.survival__box {
    background-image: url(img/fon.png);
    width: 1440px;
    margin: 0 auto;
    height: 780px;
}

.header__wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo-text {
    color: var(--font-light, #F7F7F7);
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    gap: 60px;
}

.header__link {
    color: var(--font-light, #F7F7F7);
    font-size: 23px;
    line-height: 60px; /* 260.87% */
    text-decoration: none;
}

.header__content-title {
    margin-top: 120px;
    color: var(--color-orange);
    font-size: 48px;
    font-weight: 400;
    line-height: 72px; 
    letter-spacing: 2px;
}

.header__content-text {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
    width: 274px;
    margin-top: 51px;
    margin-bottom: 49px;
}

.header__button {
    border-radius: 5px;
    background-color: var(--color-orange);
    width: 160px;
    height: 60px;
    color: var(--color-white);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: normal;
    padding: 16px 42px 17px 42px;
    text-decoration: none;
}