:root {
    --color-yellow: #ffcc4a;
    --color-gold: #9d8665;
    --color-dark: #030303;
    --color-red: #710707;
    --color-white: #fff;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4 {
    font-family: 'Forum', serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header,
.welcome {
    background-color: var(--color-dark);
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    padding: 66px 0px 64px;
    flex-wrap: wrap;
}

.nav__menu__logo-box,
.footer__logo {
    display: flex;
    align-items: center;
}

.nav__menu--text,
.footer__menu--text {
    color: #FFF;
    font-family: 'Forum', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav__menu--list {
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
}

.nav__menu--link {
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 100;
    line-height: 50px; /* 227.273% */
    letter-spacing: 2px;
}

.welcome__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   

}
.welcome__title {
    margin-top: 114px;
    margin-bottom: 26px;
    color: #FFF;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;

}

.welcome__text {
    margin: 0;
    color: #FFF;
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 76px;
}

.welcome_btn {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: var(--color-red);
    padding: 20px 65px;
    width: 360px;
    height: 75px;
    border-radius: 10px;
}

.welcome__img--box {
    width: 20%;
}

.welcome__img--box img {
    margin-left: -130px;
    position: relative;
    z-index: 1;
}

.welcome__box {
    max-width: 598px;
    position: relative;
    z-index: 50;
}

.visiting__wrapper {
    margin-top: 75px;
}

.visiting__box--1,
.visiting__box--2 {
    display: flex;
    gap: 60px;
    margin-bottom: 75px;

}

.visiting__title {
    margin-top: 75px;
    color: var(--color-gold);
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; 
    letter-spacing: 5px;
    text-transform: uppercase;
}

.line {
    margin-top: 25px;
    background-color: var(--color-red);
    width: 1440px;
    height: 3px;
}

.visiting__box--title {
    margin-top: 25px;
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting__box--line {
    margin-top: 9px;
    background-color: var(--color-red);
}

.visiting__box--item__wrap::after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 2px; /*задаём высоту линии*/
    width: 300px; /*задаём начальную ширину элемента (линии)*/
    background-color: var(--color-red); /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
}

.visiting__box--item__wrap:hover:after,
.visiting__box--item__wrap:focus:after {
    width: 440px;
}


.visiting__box--text {
    margin-top: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 100;
}

.visiting__box-desc {
    margin-top: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 100;
}

.explore {
    border: 2px solid red;
    background-color: var(--color-dark);
}

.explore__title {
    margin-top: 75px;
    width: 660px;
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

.line__explore {
    width: 660px;
    height: 3px;
    background-color: var(--color-red);
    margin-top: 20px;
    margin-bottom: 75px;
}

.explore__text {
    width: 660px;
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    line-height: 38.5px; /* 175% */
    margin-bottom: 25px;
}

.explore__text span {
    color: var(--color-gold);
}

.explore__cont {
    display: flex;
    gap: 60px;
}

.explore__img {
    margin-top: 90px;
}

.explore__text:last-child {
    margin-bottom: 0px;
}

.video-mp {
    margin-top: 90px;
    position: relative;
}

.video__title {
    width: 610px;
    color: var(--color-gold);
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

.video__controls {
    position: relative;
    background-color: #000;
    width: 1440px;
    height: 85px;
}

.video__prev,
.video__start,
.video__next {
    position: absolute;
    left: 0;
    top: 28px;
}

.video__prev {
    left: 41px;
}

.video__start {
    left: 109px;
}

.video__next {
    left: 173px;
}
.range {
    display: flex;
    position: absolute;
    top: 39px;
    left: 241px;
}
.line-1 {
    width: 388px;
    height: 8px;
    background-color:  #24809E;
}

.sq {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #FFF;
    position: absolute;
    left: 380px;
    top: -2px;
}

.line-2 {
    width: 432px;
    height: 8px;
    background-color: #C4C4C4;
}

.video__lound {
    position: absolute;
    top: 28px;
    left: 1102px;
}

.video__range-audio {
    position: absolute;
    top: 35px;
    left: 1160px;
}

.video__screen {
    position: absolute;
    top: 25px;
    left: 1363px;
}

.video__text {
    width: 720px;
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 38.5px; /* 175% */
}

.video__content {
    margin-top: 40px;
    display: flex;
    gap: 115px;
    margin-bottom: 75px;
}

.tickets {
    background-color: var(--color-dark);
}

.tickets__title {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 20px;
}

.tickets__wrap {
    margin-top: 75px;
    display: flex;
    gap: 60px;
}

.tickets__box--input  {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}
.mb-50 {
    margin-bottom: 50px;
}

.mb-11 {
    margin-bottom: 11px;
}

.tickets__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
}

.tickets__type {
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    padding-left: 25px;
}

.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 50px;
}

.cont:last-child {
    margin-bottom: 0px;
}

.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: var(--color-dark);
    border-radius: 50%;
    border: 2px solid white;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .cont input:checked ~ .checkmark {
    background-color: var(--color-dark);
  }
  .cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  .cont .checkmark:after {
    top: 2.5px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.number {
    width: 3em;
    text-align: center;
  }
   
.tickets__range-text {
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 14px;
}

.tickets__box--text {
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.65px;
    margin-bottom: 50px;
}

.tickets__box-btn {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 12px 37px;
    background-color: white;
    text-decoration: none;
    margin-left: -25px;
}

.tickets__box--btn2,
.tickets__box--btn1 {
    width: 150px;
    height: 50px;
    border: 3px solid white;
    position: relative; 
    color: white;
}

.tickets__box--btn1 {
    margin-bottom: 35px;
}
.tic-btn {
    all: unset;
    width: 19px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.btn--left {
    padding-left: 14px;
}

.btn--right {
    position: absolute;
    left: 117px;
    top: 2.5px;
}

.number {
    all: unset;
    width: 12px;
    color: white !important;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    left: 69px;
    top: 9px;
    border: 3px solid red;
}

.contacts__title {
    margin-top: 75px;
    color: var(--color-gold);
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contacts__info {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.contacts__name {
    width: 230px;
    color: #000;
    font-size: 28px;
    font-weight: 500;
}

.contacts__adress {
    margin-top: 75px;
    color: #000;
    font-size: 22px;
    font-weight: 300;
}

.contacts__tel,
.contacts__mail {
    margin-top: 20px;
    color: #000;
    font-size: 22px;
    font-weight: 300;
}

.footer {
    background-color:#030303;
}

.footer__container {
    display: flex;
    padding: 75px 0px;
}

.footer__menu--logo {
    margin-right: 20px;
}
.footer__logo {
    margin-right: 145px;
    align-items: flex-start;
}
.footer__link {
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 200;
    line-height: 50px; /* 227.273% */
    letter-spacing: 2px;
}

.f153 {
    margin-right: 153px;
}

.f398 {
    margin-right: 390px;
}

.footer__social {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}



.footer__social--item {
    border-radius: 50px;
    border: 1px solid #666;
    box-shadow: 0px 0px 0px 0px #666;
    padding: 11px;
    width: 48px;
    height: 48px;
}

.footer__social--item:hover {
    border: 1px solid var(--color-gold);
    fill:  var(--color-gold);
}

.footer__social--item svg:hover path, 
.footer__social--item svg:focus path{
    fill: var(--color-gold);
}

.welcome_btn:hover,
.tickets__box-btn:hover {
    transition: all 0.3s;
    background-color: var(--color-gold);
}

.nav__menu--link:hover,
.nav__menu--link:active {
    transition: all 0.3s;
    color: var(--color-gold);
}

.footer__link:hover,
.footer__link:active {
    transition: all 0.3s;
    color: var(--color-gold);
}